<!DOCTYPE html>
{% extends 'datacenter/base.html' %}
{% load static %}
{% block content %}

<div class = "jumbotron">
    {% if registered %}
        <h1>Thanks for being registered TEST - registration.html</h1>
    {% else %}
        <h1>GO TO SIGN-UP PAGE</h1>
        <h3>FILL FORM</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
        <input type="submit" name="" value="SIGN-UP">
        </form>
    {% endif %}
</div>
{% endblock %}